/* CSS in general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(240, 236, 236);
}

/* Media Query for responsive web design */
@media (max-width: 376px) {
}

@media (min-width: 377px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}

/* CSS for nav */

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 15px;
  letter-spacing: 0.3rem;
  position: right;
}

.sun {
  width: 70px;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: darkgrey;
}

nav a:hover {
  color: darkgrey;
  font-size: 150%;
}

.ghost {
  opacity: 0;
  margin: 15px;
}

.ghost:hover {
  /*   opacity: 1;
  color: #c6bc61;
  font-size: larger;
  filter: brightness(90%) blur(0.9px); */
  animation-name: ghost-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ghost-animation {
  0% {
    opacity: 0.3;
    color: #c6bc61;
    filter: brightness(99%) blur(1px);
  }
  33% {
    opacity: 0.6;
    color: #c69661;
    filter: brightness(94%) blur(0.9px);
  }
  66% {
    opacity: 1;
    color: #c67061;
    filter: brightness(90%) blur(0.7px);
  }
  100% {
    opacity: 0;
  }
}

.sun-text {
  opacity: 0;
}

.navleft img:hover {
  width: 30%;
}

.sun-text:hover {
  opacity: 1;
  display: block;
}

/* CSS for 1st section: main */

.main {
  width: 100%;
  height: 100vh;
  margin: 50px auto;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0.322)),
    url(./images/CarstenHennig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-attachment: fixed;
  box-shadow: 10px 5px 5px #5b5941;
}

.intro {
  width: 450px;
  height: 250px;
  justify-content: center;
  background-color: transparent;
  padding: 25px;
  color: aliceblue;
}

.intro_box {
  background-image: url(./images/signing_carsten_hennig.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 750px;
  background-position: center bottom;
}

/* CSS for 2nd section: slider */

.sliderbox {
  width: 100%;
  height: 30vh;
  margin: 50px auto;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 800px;
  text-align: center;
}

.slides {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides a {
  text-decoration: none;
  color: darkgrey;
}

.slides a:hover {
  color: #5b5941;
}

#slide-1 {
  h2 {
    padding-right: 30px;
  }
  width: 750px;
}

#slide-2 {
  h2 {
    padding-right: 30px;
  }
  width: 750px;
}

#slide-3 {
  h2 {
    padding-right: 30px;
  }
  width: 750px;
}

#slide-4 {
  h2 {
    padding-right: 30px;
  }
  width: 750px;
}

#slide-5 {
  h2 {
    padding-right: 30px;
  }
  width: 750px;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slider > a {
  display: inline-flex;
  width: 4.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
  color: #114ab2;
}

.slider > a:focus {
  background: #eee;
}

/* CSS for cards & buttons */

/* Vertical scrollbar 
.cards_grid::-webkit-scrollbar {
  width: 1em;
}

.cards_grid::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #8ed4e0;
}

.cards_grid::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid darkgrey;
} */

.cards_grid {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.cards_grid li {
  list-style-type: none;
}

.cards_grid li:hover {
  color: #86b59a;
  font-size: larger;
}

.column {
  float: left;
  width: 55%;
  padding: 0 10px;
}
.column a {
  text-decoration: none;
  color: black;
}

.column a:hover {
  font-size: larger;
  color: #5b5941;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 #5b5941;
  padding: 16px;
  text-align: left;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* CSS for: buutons */
.myButton {
  color: rgb(241, 241, 241);
  width: 70px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    #8ed4e0 0%,
    #636dc8 50%,
    #114ab2 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid #8ed4e0;
  display: inline-block;
}

.myButton:hover {
  background: #86b59a;
  font-size: larger;
  width: 80px;
  padding: 7px;
  font-size: 13px;
  line-height: 13px;
}

.myButton:active {
  background: #5b5941;
}

.myButton_adv {
  color: rgb(241, 241, 241);
  width: 65px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    #96bfa7 0%,
    #9dd9e4 50%,
    #7880cf 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid #636dc8;
  display: inline-block;
}

.myButton_adv:hover {
  background: #4854bf;
  font-size: larger;
  width: 80px;
  padding: 7px;
  font-size: 13px;
  line-height: 13px;
}

.myButton_adv:active {
  background: #3b46a7;
}

.myButton_pro {
  color: rgb(241, 241, 241);
  width: 40px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    #e08d8d 0%,
    #c66161 50%,
    #b21111 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid #9e1825;
  display: inline-block;
}

.myButton_pro:hover {
  background: #8a1f39;
  font-size: larger;
  width: 80px;
  padding: 7px;
  font-size: 13px;
  line-height: 13px;
}

.myButton_pro:active {
  background: #ba636e;
}

/* CSS for: carousel */

.wrapper {
  overflow: hidden;
}

.wrapper iframe {
  height: 200px;
  width: 100%;
}

.wrapper a {
  text-decoration: none;
  color: black;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper img {
  width: 560px;
}

/* CSS for footer */

footer {
  width: 100%;
  height: 5vh;
  margin: 15px auto;
  display: inline-block;
  letter-spacing: 0.3rem;
  position: right;
  ul {
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
    padding: 10px;
  }
  ul a {
    text-decoration: none;
    color: darkgrey;
  }
  ul a:hover {
    font-size: 150%;
  }
}
